@import url('https://fonts.googleapis.com/css?family=Audiowide');
/* @import url('https://fonts.googleapis.com/css?family=Prosto+One'); */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 1rem;
   font-family: 'Audiowide', cursive;
   /* font-family: 'Prosto One', cursive; */
   background: linear-gradient(rgb(52, 166, 189), rgb(19, 132, 155));
   color: rgb(219, 223, 209);
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.container {
   display: flex;
   width: 80%;
   justify-content: center;
   align-items: center;
   margin-top: 2rem;
}

.board {
   margin: 2rem;
   display: flex;
   width: 30%;
   flex-wrap: wrap;
   filter: opacity(0.95);
}

.card {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 5px;
   width: calc(33% - 12px);
   font-size: 4rem;
   cursor: pointer;
   transform: scale(1);
   transition: transform 0.2s;
   border-radius: 5px;
   box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.75);
   color: rgb(19, 132, 155);
   background-color: rgb(219, 223, 209);
}

.card:active {
   transform: scale(0.95);
}

.fa {
   font-size: 3rem;
   padding: 10px;
}

.clicked {
   color: rgb(219, 223, 209);
   background-color: rgb(19, 132, 155);
}

.info {
   margin: 10px;
   width: 30%;
   font-size: 1.5rem;
   text-align: center;
}

.correct {
   color: greenyellow;
   font-weight: bold;
}

.negative {
   color: red;
   font-weight: bold;
}

footer {
   padding-top: 4rem;
}

footer a {
   text-decoration: none;
   color: rgb(219, 223, 209);
}

@media (max-width: 1100px) {
   .container {
      width: 100%;
   }

   .board .info {
      width: 100%;
      margin: 0.8rem;
   }

   .fa {
      font-size: 2.8rem;
   }

   .info {
      font-size: 1.2rem;
   }
}

@media (max-width: 950px) {
   h2 {
      font-size: 1.2rem;
      text-align: center;
   }

   .container {
      margin-top: 1rem;
   }

   .board {
      width: 90%;
   }
}

@media (max-width: 650px) {
   h2 {
      padding: 0 1.5rem;
   }

   .container {
      margin-top: 0.2rem;
   }

   .board {
      margin: 1rem;
   }

   footer {
      padding-top: 2rem;
   }
}

@media (max-width: 530px) {
   .fa {
      font-size: 1.8rem;
   }
}

@media (max-width: 600px) and (orientation: portrait) {
   .container {
      flex-direction: column;
   }

   .board,
   .info {
      width: 80%;
      margin: 1.5rem;
   }
}
